* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
:root {
  --colorLogo: rgb(236, 214, 98);
  --colorbackgroundinput: rgba(236, 214, 98, 1);
  --color3: rgb(93, 130, 51);

  /*font*/
  --font: 'Poppins', sans-serif;
}
.app {
  margin: 0px;
  display: grid;
  grid-template-columns: 76px 1fr 300px;
  grid-template-rows: 76px calc(100vh - 76px);
  grid-template-areas:
    'aside header header'
    'aside products ficha';
  height: 100vh;
}
.header {
  grid-area: header;
}

#Home {
  grid-area: ficha;
}
.aside {
  grid-area: aside;
  background-color: rgb(62, 33, 93);
}

@media (min-width: 200px) and (max-width: 650px) {
  .app {
    grid-template-rows: 76px 76px calc(100vh - 76px) 1fr;
    grid-template-areas:
      'header header header'
      'aside aside aside'
      'products products products'
      'ficha ficha ficha';
  }
}
@media (min-width: 641px) and (max-width: 983px) {
  .app {
    grid-template-rows: 76px calc(100vh - 40px) 1fr;
    grid-template-areas:
      'aside header header'
      'aside products  products'
      'aside ficha ficha';
  }
}
